body {
    background-color: #f8f9fa;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

footer {
    position:sticky;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
